
{{> header }}

<div class="portfolio-section" id="Crops">
	
	<div class="container-fluid">
		<h2 class="text-center bdr-btm bdr-btm-center">Flowers</h2>
		<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><center>Kharif Crops</center></h4></div>
		<div class="row">
		
			<div class="col-md-4">
			<a href="http://localhost:8000/crop/DAHLIA"><div class="portfolio-box" style="background-image: url('images/dahlia.jpg');">
					 <h3>Dahlia</h3>	
					
				</div></a>
				   </div> 
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/HIBISCUS"><div class="portfolio-box" style="background-image: url('images/hibiscus.jpg');">
					<h3>Hibiscus</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/MARIGOLD"><div class="portfolio-box" style="background-image: url('images/marigold.jpg');">
					<h3>Marigold</h3>
				</div>	</a>	
			</div></div>
			
			<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-top: 40px; margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><center>Rabi Crops</center></h4></div>
			<div class="row">
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/ROSE"><div class="portfolio-box" style="background-image: url('images/rose.jpg');">
					<h3>Rose</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/SUNFLOWER"><div class="portfolio-box" style="background-image: url('images/sunflower.jpg');">
					<h3>Sunflower</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/TULIP"><div class="portfolio-box" style="background-image: url('images/tulip.jpg');">
					<h3>Tulip</h3>
				</div></a>		
			</div>
		</div>

				
	</div>
	
</div>
{{> footer }}