
{{> header }}

<div class="portfolio-section">
		<br><br><br><br>

		<h2 class="text-center bdr-btm bdr-btm-center" id="Grains"> Grains</h2>
		<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><b><center>Kharif Crops</center></b></h4></div>
		<div class="row">
		
			<div class="col-md-4">
			<a href="http://localhost:8000/crop/BAJRA"><div class="portfolio-box" style="background-image: url('/images/Bajra.jpg');">
					 <h3>Bajra</h3>	
					
				</div></a>
				   </div> 
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/MAIZE"><div class="portfolio-box" style="background-image: url('/images/maize.png');">
					<h3>Maize</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/RICE"><div class="portfolio-box" style="background-image: url('/images/rice.jpg');">
					<h3>Rice</h3>
				</div>	</a>	
			</div></div>
			
			<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-top: 40px; margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><center><b>Rabi Crops</b></center></h4></div>
			<div class="row">
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/BARLEY"><div class="portfolio-box" style="background-image: url('/images/barley.jpg');">
					<h3>Barley</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/OATS"><div class="portfolio-box" style="background-image: url('/images/oats.jpg');">
					<h3>Oats</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/WHEAT"><div class="portfolio-box" style="background-image: url('/images/wheat.jpg');">
					<h3>Wheat</h3>
				</div></a>		
			</div>
		</div>
		
		
		
		
		
		<h2 class="text-center bdr-btm bdr-btm-center" id="Legumes">&nbsp &nbsp Legumes</h2>
		<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-top: 60px; margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><center><b>Kharif Crops</b></center></h4></div>
		<div class="row">
		
			<div class="col-md-4">
			<a href="http://localhost:8000/crop/CHICKPEA"><div class="portfolio-box" style="background-image: url('/images/chick pea.png');">
					 <h3>Chick Pea</h3>	
					
				</div></a>
				   </div> 
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/COWPEA"><div class="portfolio-box" style="background-image: url('/images/cowpea.jpg');">
					<h3>Cowpea</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/MOONG"><div class="portfolio-box" style="background-image: url('/images/moong.jpg');">
					<h3>Green Grams</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/PIGEON PEA"><div class="portfolio-box" style="background-image: url('/images/pigeon pea.jpg');">
					<h3>Pigeon Pea</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/GUAR"><div class="portfolio-box" style="background-image: url('/images/guar.jpg');">
					<h3>Guar</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/URAD"><div class="portfolio-box" style="background-image: url('/images/urad.jpg');">
					<h3>Black Grams</h3>
				</div></a>		
			</div></div>
		<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-top: 40px; margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><center><b>Rabi Crops</b></center></h4></div>
		<div class="row">
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/MASOOR"><div class="portfolio-box" style="background-image: url('/images/masoor.png');">
					<h3>Lentils</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/KIDNEY BEANS"><div class="portfolio-box" style="background-image: url('/images/kidney beans.png');">
					<h3>Kidney Beans</h3>
				</div>	</a>	
			</div>
				</div>
				
				
				
				<h2 class="text-center bdr-btm bdr-btm-center" id="Oil">&nbsp &nbsp Oil Seeds</h2>
		<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-top: 60px; margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><center><b>Kharif Crops</b></center></h4></div>
		<div class="row">
		
			<div class="col-md-4">
			<a href="http://localhost:8000/crop/GROUNDNUT"><div class="portfolio-box" style="background-image: url('/images/groundnut.jpg');">
					 <h3>Ground Nuts</h3>	
					
				</div></a>
				   </div> 
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/SOYABEAN">"><div class="portfolio-box" style="background-image: url('/images/soyabean.jpg');">
					<h3>Soyabean</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/SUNFLOWER"><div class="portfolio-box" style="background-image: url('/images/sunflower.jpg');">
					<h3>Sunflower</h3>
				</div>	</a>	
			</div></div>
			
			<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-top: 40px; margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><center><b>Rabi Crops</b></center></h4></div>
			<div class="row">
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/MUSTARD"><div class="portfolio-box" style="background-image: url('/images/mustard.jpg');">
					<h3>Mustard</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/SAFFLOWER"><div class="portfolio-box" style="background-image: url('/images/safflower.jpg');">
					<h3>Safflower</h3>
				</div>	</a>	
			</div>
			
		</div>
			
	</div>
{{> footer }}