
{{> header }}
	
<div class="portfolio-section">

		<h2 class="text-center bdr-btm bdr-btm-center" id="vegetables"> &nbsp &nbsp &nbsp Vegetables</h2>
		
	
		<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><center><b>Kharif Crops</b></center></h4></div>
		    <div class="row">
		
			    <div class="col-md-4">
			         <a href="http://localhost:8000/crop/LADY FINGER">
					     <div class="portfolio-box" style="background-image: url('images/lady finger.jpg');">
					         <h3>Lady Finger</h3>	
				         </div>
					</a>
				 </div> 
				 
			     <div class="col-md-4">
				     <a href="http://localhost:8000/crop/BITTER GOURD"> 
					     <div class="portfolio-box" style="background-image: url('images/bitter gourd.jpg');">
					         <h3>Bitter Gourd</h3>
				         </div>	
					 </a>	
			     </div>
				 
			     <div class="col-md-4">
				     <a href="http://localhost:8000/crop/CUCUMBER">
					     <div class="portfolio-box" style="background-image: url('images/cucumber.jpg');">
					         <h3>Cucumber</h3>
				         </div>	
				     </a>	
			     </div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/BROCCOLI"><div class="portfolio-box" style="background-image: url('images/broccoli.jpg');">
					<h3>Broccoli</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/LETTUCE"><div class="portfolio-box" style="background-image: url('images/lettuce.png');">
					<h3>Lettuce</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/SPONGE GUARD"><div class="portfolio-box" style="background-image: url('images/spong gourd.png');">
					<h3>Spong Gourd</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/ONION"><div class="portfolio-box" style="background-image: url('images/onion.jpg');">
					<h3>Onion</h3>
				</div>	</a>	
			</div>
			</div>
			
			<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-top: 40px; margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;">
			<h4><center><b>Rabi Crops</b></center></h4>
			</div>
			<div class="row">
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/ASH GOURD"><div class="portfolio-box" style="background-image: url('images/ash gourd.jpg');">
					<h3>Ash Gourd</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/BEETROOT"><div class="portfolio-box" style="background-image: url('images/beet root.jpg');">
					<h3>Beet Root</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/BOTTLE GOURD"><div class="portfolio-box" style="background-image: url('images/bottle gourd.jpg');">
					<h3>Bottle Gourd</h3>
				</div></a>		
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/BRINJAL"><div class="portfolio-box" style="background-image: url('images/brinjal.jpg');">
					<h3>Brinjal</h3>
				</div></a>		
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/CABBAGE"><div class="portfolio-box" style="background-image: url('images/cabbage.jpg');">
					<h3>Cabbage</h3>
				</div></a>		
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/CAPSICUM"><div class="portfolio-box" style="background-image: url('images/capsicum.jpg');">
					<h3>Capsicum</h3>
				</div></a>		
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/CARROT"><div class="portfolio-box" style="background-image: url('images/carrot.png');">
					<h3>Carrot</h3>
				</div></a>		
			</div>
						<div class="col-md-4">
				<a href="http://localhost:8000/crop/CAULI FLOWER"><div class="portfolio-box" style="background-image: url('images/cauliflower.jpg');">
					<h3>Cauliflower</h3>
				</div></a>		
			</div>
						<div class="col-md-4">
				<a href="http://localhost:8000/crop/CELERY"><div class="portfolio-box" style="background-image: url('images/celery.png');">
					<h3>Celery</h3>
				</div></a>		
			</div>
									<div class="col-md-4">
				<a href="http://localhost:8000/crop/CHILLI"><div class="portfolio-box" style="background-image: url('images/chilli.jpg');">
					<h3>Chilli</h3>
				</div></a>		
			</div>
									<div class="col-md-4">
				<a href="http://localhost:8000/crop/GARLIC"><div class="portfolio-box" style="background-image: url('images/garlic.jpg');">
					<h3>Garlic</h3>
				</div></a>		
			</div>
									<div class="col-md-4">
				<a href="http://localhost:8000/crop/LONG MELON"><div class="portfolio-box" style="background-image: url('images/long melon.jpg');">
					<h3>Long Melon</h3>
				</div></a>		
			</div>
									<div class="col-md-4">
				<a href="http://localhost:8000/crop/MUSHROOM"><div class="portfolio-box" style="background-image: url('images/mushroom.jpg');">
					<h3>Mushroom</h3>
				</div></a>		
			</div>
									<div class="col-md-4">
				<a href="http://localhost:8000/crop/POTATO"><div class="portfolio-box" style="background-image: url('images/potato.jpg');">
					<h3>Potato</h3>
				</div></a>		
			</div>
									<div class="col-md-4">
				<a href="http://localhost:8000/crop/PUMPKIN"><div class="portfolio-box" style="background-image: url('images/pumpkin.jpg');">
					<h3>Pumpkin</h3>
				</div></a>		
			</div>
									<div class="col-md-4">
				<a href="http://localhost:8000/crop/RADISH"><div class="portfolio-box" style="background-image: url('images/radish.jpg');">
					<h3>Radish</h3>
				</div></a>		
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/SPINACH"><div class="portfolio-box" style="background-image: url('images/spinach.jpg');">
					<h3>Spinach</h3>
				</div></a>		
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/SQUASH MELON"><div class="portfolio-box" style="background-image: url('images/squash melon.jpg');">
					<h3>Squash Melon</h3>
				</div></a>		
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/SWEET POTATO"><div class="portfolio-box" style="background-image: url('images/sweet potato.jpg');">
					<h3>Sweet Potato</h3>
				</div></a>		
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/TOMATO"><div class="portfolio-box" style="background-image: url('images/tomato.jpg');">
					<h3>Tomato</h3>
				</div></a>		
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/TURNIP"><div class="portfolio-box" style="background-image: url('images/turnip.png');">
					<h3>Turnip</h3>
				</div></a>		</div>
		</div>

		
		<h2 class="text-center bdr-btm bdr-btm-center" id="fruits">Fruits</h2>
		<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-top: 60px; margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><center><b>Kharif Crops</b></center></h4></div>
		<div class="row">
		
			<div class="col-md-4">
			<a href="http://localhost:8000/crop/BLACK PLUM"><div class="portfolio-box" style="background-image: url('images/blackberry.png');">
					 <h3>Black Berry</h3>	
					
				</div></a>
				   </div> 
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/KINNOW"><div class="portfolio-box" style="background-image: url('images/kinnow.jpg');">
					<h3>Kinnow</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/LEMON"><div class="portfolio-box" style="background-image: url('images/lemon.png');">
					<h3>Lemon</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/LIME"><div class="portfolio-box" style="background-image: url('images/lime.jpg');">
					<h3>Lime</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/LOQUAT"><div class="portfolio-box" style="background-image: url('images/loquat.jpg');">
					<h3>Loquat</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/MALTA"><div class="portfolio-box" style="background-image: url('images/malta.jpg');">
					<h3>Malta</h3>
				</div></a>		
			</div>
		    <div class="col-md-4">
				<a href="http://localhost:8000/crop/MULBERRY"><div class="portfolio-box" style="background-image: url('images/mulberry.jpg');">
					<h3>Mulberry</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/ORANGE"><div class="portfolio-box" style="background-image: url('images/orange.png');">
					<h3>orange</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/PAPAYA"><div class="portfolio-box" style="background-image: url('images/papaya.jpg');">
					<h3>Papaya</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/PEACH"><div class="portfolio-box" style="background-image: url('images/peach.jpg');">
					<h3>Peach</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/PLUM"><div class="portfolio-box" style="background-image: url('images/plum.jpg');">
					<h3>Plum</h3>
				</div>	</a>	
			</div>
		</div>
			
		<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-top: 40px; margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><center><b>Rabi Crops</b></center></h4></div>
		<div class="row">
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/APPLE"><div class="portfolio-box" style="background-image: url('images/apple.jpg');">
					<h3>Apple</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/BANANA"><div class="portfolio-box" style="background-image: url('images/banana.jpg');">
					<h3>Banana</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/GRAPES"><div class="portfolio-box" style="background-image: url('images/grapes.png');">
					<h3>Grapes</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/GUAVA"><div class="portfolio-box" style="background-image: url('images/guava.jpg');">
					<h3>Guava</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/LITCHI"><div class="portfolio-box" style="background-image: url('images/litchi.webp');">
					<h3>Litchi</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/MANGO"><div class="portfolio-box" style="background-image: url('images/mango.jpg');">
					<h3>Mango</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/MUSKMELON"><div class="portfolio-box" style="background-image: url('images/muskmelon.jpg');">
					<h3>Musk Melon</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/PEAR"><div class="portfolio-box" style="background-image: url('images/pear.jpg');">
					<h3>Pear</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/POMEGRANATE"><div class="portfolio-box" style="background-image: url('images/pomegranate.jpg');">
					<h3>Pomegranate</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/SAPOTA"><div class="portfolio-box" style="background-image: url('images/sapota.jpeg');">
					<h3>Sapota</h3>
				</div>	</a>	
			</div>	
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/WATERMELON"><div class="portfolio-box" style="background-image: url('images/watermelon.jpg');">
					<h3>Water Melon</h3>
				</div>	</a>	
			</div>	
				
	</div>
	</div>

{{> footer }}