{{> header }}

<div class="portfolio-section" id="Crops">
	
	<div class="container-fluid">
		<h2 class="text-center bdr-btm bdr-btm-center">Medicinal Crops</h2>
		<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><b><center>Kharif Crops</center></b></h4></div>
		<div class="row">
		
			<div class="col-md-4">
			<a href="http://localhost:8000/crop/ALOE VERA"><div class="portfolio-box" style="background-image: url('images/aloe vera.jpg');">
					 <h3>Aloe Vera</h3>	
					
				</div></a>
				   </div> 
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/ASHWAGANDHA"><div class="portfolio-box" style="background-image: url('images/ashwagandha.webp');">
					<h3>Ashwagandha</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/TULSI"><div class="portfolio-box" style="background-image: url('images/tulsi.png');">
					<h3>Tulsi</h3>
				</div>	</a>	
			</div></div>
			
			<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-top: 40px; margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><center><b>Rabi Crops</b></center></h4></div>
			<div class="row">
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/AMLA"><div class="portfolio-box" style="background-image: url('images/amla.jpg');">
					<h3>Amla</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/NEEM"><div class="portfolio-box" style="background-image: url('images/neem.png');">
					<h3>Neem</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/PUDINA"><div class="portfolio-box" style="background-image: url('images/pudina.png');">
					<h3>Pudina</h3>
				</div></a>		
			</div>
		</div>

				
	</div>
</div>
{{> footer }}