
	{{> header }}

<div class="portfolio-section" id="Crops">
	
	<div class="container-fluid">
		<h2 class="text-center bdr-btm bdr-btm-center">Spices</h2>
		<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><b><center>Kharif Crops</center></b></h4></div>
		<div class="row">
		
			<div class="col-md-4">
			<a href="http://localhost:8000/crop/CHILLI"><div class="portfolio-box" style="background-image: url('images/chilli.jpg');">
					 <h3>Chilli</h3>	
					
				</div></a>
				   </div> 
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/FENUGREEK"><div class="portfolio-box" style="background-image: url('images/fenugreek.jpg');">
					<h3>Fenugreek</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/GINGER"><div class="portfolio-box" style="background-image: url('images/ginger.jpg');">
					<h3>Ginger</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/TURMERIC"><div class="portfolio-box" style="background-image: url('images/turmeric.jpg');">
					<h3>Turmeric</h3>
				</div>	</a>	
			</div>
			</div>
			
			<div class="center" style="color: #333; width:40%; background-color: yellow; box-shadow:  8px 8px rgba(0, 0, 0, 0.4); margin-top: 40px; margin-bottom: 20px; border: solid #333; border-radius: 24px; position : center;"><h4><center><b>Rabi Crops</b></center></h4></div>
			<div class="row">
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/CORIANDER"><div class="portfolio-box" style="background-image: url('images/coriander.jpg');">
					<h3>Coriander</h3>
				</div>	</a>	
			</div>
			<div class="col-md-4">
				<a href="http://localhost:8000/crop/FENNEL"><div class="portfolio-box" style="background-image: url('images/fennel.jpg');">
					<h3>Fennel</h3>
				</div>	</a>	
			</div>
			
		</div>

				
	</div>
</div>
{{> footer }}